<div class="container">
  <form>
    <h2 class="text-center">Create your account</h2>

    <!-- Name -->
    <div class="flex justify-between g-1">
      <div>
        <label for="firstname">First name</label>
        <input type="text" id="firstname" placeholder="First name:">
      </div>
      <div>
        <label for="lastname">Last name</label>
        <input type="text" id="lastname" placeholder="Last name:">
      </div>
    </div>
    <!-- Username -->
    <div>
      <label for="username" class="">Username:</label>
      <input type="username" id="username" placeholder="Username:">
    </div>


    <!-- Email -->
    <div>
      <label for="email" class="">Email:</label>
      <input type="email" id="email" placeholder="Email:">
    </div>

    <!-- Password -->
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Password:">
    </div>

    <button type="submit" class="btn btn-primary">Signup</button>

    <div>
      <p class="text-center">Already have an account? <a href="">Login</a></p>
    </div>
  </form>
</div>
