<div class="container flex-col">
  <!-- Dashboard Title -->
  <h2 class="text-center mt-4">Dashboard</h2>

  <!-- Revenue Information -->
  <section class="revenue">

    <div class="filters">
      <button class="btn btn-secondary">Past 7 Days</button>
      <button class="btn btn-secondary">Past Month</button>
      <button class="btn btn-secondary">Past Year</button>
      <button class="btn btn-secondary">Lifetime</button>
    </div>
    <div class="stats-cards">
      <div class="stat-card">
        <h3>Total Revenue</h3>
        <p>100,000.00€</p>
      </div>
      <div class="stat-card">
        <h3>Average Earning</h3>
        <p>350.00€</p>
      </div>
      <div class="stat-card">
        <h3>Highest Gig</h3>
        <p>500.00€</p>
      </div>
      <div class="stat-card">
        <h3>Total Gigs</h3>
        <p>269</p>
      </div>
      <div class="stat-card">
        <h3>Future Revenue</h3>
        <p>16,000.00€</p>
      </div>
    </div>

  </section>



  <!-- Bookings of the Week -->
  <section class="bookings">
    <h2>Bookings of the Week</h2>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Club</th>
        <th>Music Style</th>
        <th>Address</th>
        <th>Contact Person</th>
        <th>Hotel Info</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>March 30, 2025</td>
        <td>Drai's Nightclub</td>
        <td>Hiphop</td>
        <td><a href="#">123 Club St, City</a></td>
        <td><a href="#">Show Info</a></td>
        <td><a href="#">Show Info</a></td>
      </tr>
      <tr>
        <td>April 01, 2025</td>
        <td>1Oak</td>
        <td>Hiphop</td>
        <td><a href="#">123 Club St, City</a></td>
        <td><a href="#">Show Info</a></td>
        <td><a href="#">Show Info</a></td>
      </tr>
      <tr>
        <td>April 02, 2025</td>
        <td>Tao</td>
        <td>Open-Format</td>
        <td><a href="#">123 Club St, City</a></td>
        <td><a href="#">Show Info</a></td>
        <td><a href="#">Show Info</a></td>
      </tr>

      </tbody>
    </table>
  </section>

  <!-- Quick Actions -->
  <section class="quick-actions">
    <h2>Quick Actions</h2>
    <div class="actions">
      <button class="btn btn-secondary"><i class="fa-solid fa-file-invoice mr-2"></i>Create Invoice</button>
      <button class="btn btn-secondary"><i class="fa-solid fa-file-invoice-dollar mr-2"></i>Add Expense</button>
      <button class="btn btn-secondary"><i class="fa-solid fa-calendar-days mr-2"></i>Add Booking</button>
      <button class="btn btn-secondary"><i class="fa-solid fa-user-plus mr-2"></i>Add Client/Venue</button>
      <button class="btn btn-secondary"><i class="fa-solid fa-pen-to-square mr-2"></i>Update DJ Profile</button>
    </div>
  </section>
</div>
