<div class="container">
  <h2 class="text-center mt-4">Blog</h2>

  <div class="post-button">
    <button class="btn btn-secondary" routerLink="../blog/create">Create Post</button>
  </div>

  <div class="blog-layout">
    <div class="blog-card">
      <img src="/placeholders/image-placeholder.png" alt="">
      <div class="blog-card-content">
        <h3>How to get DJ Bookings</h3>
        <p class="blog-excerpt">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor illo, iure mollitia natus sequi sunt suscipit tenetur veniam!
        </p>
        <p class="blog-date">Posted on: March 27, 2025</p>
        <button class="btn btn-primary">Read more</button>
      </div>
    </div>

    <div class="blog-card">
      <img src="/placeholders/image-placeholder.png" alt="">
      <div class="blog-card-content">
        <h3>How to get DJ Bookings</h3>
        <p class="blog-excerpt">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor illo, iure mollitia natus sequi sunt suscipit tenetur veniam!
        </p>
        <p class="blog-date">Posted on: March 27, 2025</p>
        <button class="btn btn-primary">Read more</button>
      </div>
    </div>

    <div class="blog-card">
      <img src="/placeholders/image-placeholder.png" alt="">
      <div class="blog-card-content">
        <h3>How to get DJ Bookings</h3>
        <p class="blog-excerpt">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor illo, iure mollitia natus sequi sunt suscipit tenetur veniam!
        </p>
        <p class="blog-date">Posted on: March 27, 2025</p>
        <button class="btn btn-primary">Read more</button>
      </div>
    </div>

    <div class="blog-card">
      <img src="/placeholders/image-placeholder.png" alt="">
      <div class="blog-card-content">
        <h3>How to get DJ Bookings</h3>
        <p class="blog-excerpt">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor illo, iure mollitia natus sequi sunt suscipit tenetur veniam!
        </p>
        <p class="blog-date">Posted on: March 27, 2025</p>
        <button class="btn btn-primary">Read more</button>
      </div>
    </div>


  </div>
</div>
